<section class="header">
  <div class="header__logo" [routerLink]="[ '/' ]"></div>

  <div class="header__menu ">
  
    <button class="header__menu__nav "><span>Меню</span>
      <div class="header__dropdown" >
        <ng-container *ngFor="let category of categories"  >
          <div class="header__dropdown__category" *ngIf="!(category.path ===
            'thai-lava-gril'|| category.path === 'thai-satay'|| category.path ===
            'thai-wok' )">
            <img [src]="category.imagePath" [routerLink]="[ '/product/'+ category.path ]" alt="category..">
            <p [routerLink]="[ '/product/'+ category.path ]" >{{category.name}}</p>
          </div>
        </ng-container>
      </div>
    </button>
    
    <button class="header__menu__thai hide"><span>Thai market</span>
      <div class="header__dropdown" >
        <ng-container *ngFor="let category of categories"  >
          <div class="header__dropdown__category" *ngIf="category.path ===
            'thai-lava-gril'|| category.path === 'thai-satay'|| category.path ===
            'thai-wok' ">
            <img [src]="category.imagePath" [routerLink]="[ '/product/'+ category.path ]" alt="category..">
            <p [routerLink]="[ '/product/'+ category.path ]" >{{category.name}}</p>
          </div>
        </ng-container>
      </div>
    </button>

    <button [routerLink]="[ '/delivery' ]" class="hide"  mat-button
  >Доставка</button>

 </div>
 <div>
    <button class="header__review hide">
      <a href="https://go.expirenza.com/review?code=8H8A0" target="_blank">Залишити
        відгук</a></button>
  </div>
  <div class="header__menu-1">
    <button mat-mini-fab color="primary">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-mini-fab color="primary" title="+38 (067) 792 90 90 Працюємо Пн
      - Нд з 10:00 до 22:50">
      <mat-icon>ad_units</mat-icon>
    </button>
    <button mat-button (click)="openLoginDialog()" *ngIf="isLogin">
      <mat-icon>person_outline</mat-icon>Вхід</button>
    <button mat-button [routerLink]="[ '/'+loginUrl ]" *ngIf="!isLogin">
      <mat-icon>person_outline</mat-icon>{{user}}</button>
    <button mat-mini-fab color="primary"></button>
  </div>
  
 

</section>
