@import "../../shared/styles/variables";
@import "../../shared/styles/media";

.header {
  @extend %header;
}
.hover:hover {
  color: $main;
}

.offerta {
  @extend %container;
}
ul li {
  display: inline-block;
  margin-left: 25px;
}
li a {
  text-decoration: none;
}
span {
  color: $darkGrey;
}
i {
  color: $main;
  font-weight: bolder;
}
