<h1>Про <span class="header">нас</span></h1>
<section class="about">
    <div class="about__text">
        <h3>NOA - місце, де багато живого вогню і смачних страв з особливим
            східним характером</h3>
        <p>Бренд паназійських ресторанів ”NOA” заснований у 2018 р. На сьогоднішній день у Львові працює 5 ресторанів мережі. В основі меню – авторська версія паназіатської кухні. Ми любимо
            експериментувати. Застосовуємо азійські традиції в стравах інших
            країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як
            тільки рівновагу знайдено, страва з’являється в нашому меню.</p>
            <p>І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш ресторан, оформляєте take away або замовлення на доставку. Ми гарантуємо, що кожна страва на нашій кухні готуватиметься з турботою і любов’ю до деталей і ніяк інакше!</p>
    </div>
    <div class="about__img"></div>


</section>
