<footer class="footer">
    <div class="footer__menu">
        <div class="footer__menu__item">
            <ul>
                <li><a  [routerLink]="[ '/' ]"><h3>ДЕСЕРТИ</h3></a></li>
                <li><a  [routerLink]="[ '/' ]"><h3>CЕТИ</h3></a></li>
                <li><a  [routerLink]="[ '/' ]"><h3>РОЛИ</h3></a></li>
                <li><a  [routerLink]="[ '/' ]"><h3>ASIAN POKE</h3></a></li>
                <li><a  [routerLink]="[ '/' ]"><h3>ASIAN WOK</h3></a></li>
                <li><a  [routerLink]="[ '/' ]"><h3>РАМЕН</h3></a></li>
            </ul>
        </div>
        <div class="footer__menu__item">
            <ul>
                <li><a  [routerLink]="[ '/offerta' ]"><p>Договір Оферта</p></a></li>
                <li><a  [routerLink]="[ '/contact' ]"><p>Контакти</p></a></li>
                <li><a  [routerLink]="[ '/about' ]"><p>Про нас</p></a></li>
                <li><a  [routerLink]="[ '/delivery' ]"><p>Доставка</p></a></li>
            </ul>
        </div>
        <div class="footer__menu__info">
            <div class="footer__menu__info__img">
                <mat-icon>place</mat-icon>
            </div>
            <div class="footer__menu__info__text">
                <h3>м. Львів</h3>
                <p>ТРЦ Victoria Gardens, Кульпарківська 226 А
                    ТРЦ Spartak, Мазепи 1Б
                    Староєврейська 4
                    Крива Липа 8</p>
                   <h3>с. Сокільники</h3>
                   <p>ТРЦ King Cross, Стрийська 30</p>
            </div>
        </div>
        <div class="footer__menu__info">
            <div class="footer__menu__info__img"><mat-icon>ad_units</mat-icon></div>
            <div class="footer__menu__info__text"><h3>+38 (067) 792 90 90</h3></div>
            
            <div class="footer__menu__info__img"><mat-icon>access_time</mat-icon></div>
            <div class="footer__menu__info__text">
                <p>Працюємо Пн - Нд</p>
                <h3>10:00 <small>до </small>22:50</h3>
            </div>
        </div>
        <div class="footer__menu__info">
            <h3>Слідкуй за нами</h3>
            <div class="footer__menu__info__facebook"><i class="uil uil-facebook-f"></i></div>
            <div class="footer__menu__info__inst"><i class="uil uil-instagram"></i></div>

        </div>
    </div>
    <div class="footer__discribe">
        <div><p>© 2023 Tomatina</p></div>
        <div><img src="../../../assets/pay_one.svg" alt="">
        <img src="../../../assets/pay_two.svg" alt=""></div>
        <div><p>Створення сайтів:NataLI</p></div>
    </div>
</footer>
