<footer class="footer">
    <div class="footer__menu">
        <div class="footer__menu__item">
            <ul>
                <li><a  [routerLink]="[ '/' ]"><h4>ДЕСЕРТИ</h4></a></li>
                <li><a  [routerLink]="[ '/' ]"><h4>CЕТИ</h4></a></li>
                <li><a  [routerLink]="[ '/' ]"><h4>РОЛИ</h4></a></li>
                <li><a  [routerLink]="[ '/' ]"><h4>ASIAN POKE</h4></a></li>
                <li><a  [routerLink]="[ '/' ]"><h4>ASIAN WOK</h4></a></li>
                <li><a  [routerLink]="[ '/' ]"><h4>РАМЕН</h4></a></li>
            </ul>
        </div>
        <div class="footer__menu__item">
            <ul>
                <li><a  [routerLink]="[ '/offerta' ]"><p>Договір Оферта</p></a></li>
                <li><a  [routerLink]="[ '/contact' ]"><p>Контакти</p></a></li>
                <li><a  [routerLink]="[ '/about' ]"><p>Про нас</p></a></li>
                <li><a  [routerLink]="[ '/delivery' ]"><p>Доставка</p></a></li>
            </ul>
        </div>
        <div class="footer__menu__info">
            <div class="footer__menu__info__img">
                <mat-icon>place</mat-icon>
            </div>
            <div class="footer__menu__info__text">
                <h4>м. Львів</h4>
                <p>ТРЦ Victoria Gardens, Кульпарківська 226 А
                    ТРЦ Spartak, Мазепи 1Б
                    Староєврейська 4
                    Крива Липа 8</p>
                   <h4>с. Сокільники</h4>
                   <p>ТРЦ King Cross, Стрийська 30</p>
            </div>
        </div>
        <div class="footer__menu__info">
            <div class="footer__menu__info__img"><mat-icon>ad_units</mat-icon></div>
            <div class="footer__menu__info__text"><h4>+38 (067) 792 90 90</h4></div>
            
            <div class="footer__menu__info__img"><mat-icon>access_time</mat-icon></div>
            <div class="footer__menu__info__text">
                <p>Працюємо Пн - Нд</p>
                <h4>10:00 <small>до </small>22:50</h4>
            </div>
        </div>
        <div class="footer__menu__info">
            <h4>Слідкуй за нами</h4>
            <div class="footer__menu__info__facebook">
                <a href="https://www.facebook.com/noa.asian/" target="_blank">
                    <i class="uil uil-facebook-f"></i></a></div>
            <div class="footer__menu__info__inst">
                <a href="https://www.instagram.com/noa.asian/" target="_blank">
                    <i class="uil uil-instagram"></i></a></div>

        </div>
    </div>
    <div class="footer__discribe">
        <div><p>© 2023 Tomatina</p></div>
        <div><img src="../../../assets/pay_one.svg" alt="">
        <img src="../../../assets/pay_two.svg" alt=""></div>
        <div><p>Створення сайтів:NataLI</p></div>
    </div>
</footer>
