@font-face {
    font-family: 'Cera-Round-Pro', sans-serif;;
    src: url('../../../assets/fonts/CeraPro-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Cera-Round-Pro-Bold',sans-serif;;
    src: url('../../../assets/fonts/CeraPro-Bold.ttf');
  }