@font-face {
    font-family: 'Cera-Round-Pro';
    src: url('../../../assets/fonts/CeraPro-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Cera-Round-Pro-Bold';
    src: url('../../../assets/fonts/CeraPro-Bold.ttf');
  }