<h1>Доставка і <span class="header">оплата</span></h1>
<section class="delivery">
    <div class="delivery__info">
        <div class="delivery__info__zone">
            <div class="delivery__info__zone__green"></div>
            <div class="delivery__info__zone__text-green">
                <h3>Зелена зона</h3>
                <ul>
                    <li> Орієнтовний час доставки 45 хвилин</li>
                    <li> При замовленні від 300 грн привеземо БЕЗКОШТОВНО</li>
                    <li> При замовленні до 300 грн вартість доставки 60 грн</li>
                </ul>
            </div>
        </div>
        <div class="delivery__info__zone">
            <div class="delivery__info__zone__yellow"></div>
            <div class="delivery__info__zone__text-yellow">
                <h3>Жовта зона</h3>
                <ul>
                    <li> Орієнтовний час доставки 55 хвилин</li>
                    <li> При замовленні від 300 грн привеземо БЕЗКОШТОВНО</li>
                    <li> При замовленні до 300 грн вартість доставки 60 грн</li>
                </ul>
            </div>
        </div>
        <div class="delivery__info__zone">
            <div class="delivery__info__zone__red"></div>
            <div class="delivery__info__zone__text-red">
                <h3>Червона зона</h3>
                <ul>
                    <li> Орієнтовний час доставки 65 хвилин</li>
                    <li> Мінімальне замовлення 350 грн вартість доставки 90 грн</li>
                    <li> При замовленні від 500 грн привеземо БЕЗКОШТОВНО</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="delivery__maps">
        <google-map
            [options]="mapOptions"
            width="100%"
            (mapClick)="moveMap($event)">

            <map-marker
                *ngFor="let spot of spots"
                [position]="{ lat: spot.lat, lng: spot.lng }"
                [options]="markerOptions"
                [clickable]="true"
                (mapClick)="selectMarker(spot)"></map-marker>

            <map-polygon [paths]="greenZone"
                [options]="poligonGreen"></map-polygon>

            <map-polygon [paths]="yellowZone"
                [options]="poligonYellow"></map-polygon>
            <map-polygon [paths]="redZone"
                [options]="poligonRed"></map-polygon>
            <map-polygon [paths]="redZone1"
                [options]="poligonRed"></map-polygon>
            <map-polygon [paths]="redZone2"
                [options]="poligonRed"></map-polygon>
            <map-polygon [paths]="redZone3"
                [options]="poligonRed"></map-polygon>
        </google-map>
    </div>

</section>
<section class="delivery">
    <div class="delivery__about">
        <h2>Доставка їжі у Львові: замовляй улюблені страви з NOA</h2>
        <p>Cніданок, обід або вечеря — безкоштовна доставка їжі у Львові з
            ресторану NOA виручає завжди! Смачні страви азійської кухні,
            розмаїття рецептів та найшвидші у світі кур’єри: ми дбаємо про те,
            щоб замовити їжу можна було легко й комфортно. Тож сьогодні
            розкажемо більше про те, як працює наша доставка!</p>
    </div>
</section>
<section class="delivery">
    <div class="delivery__cash">
        <div class="delivery__cash__block">
            <div class="delivery__cash__block__img"><img
                    src="../../../assets/liqPay.svg" alt=""> </div>
            <div class="delivery__cash__block__text">
                <h4>Оплата LiqPay</h4>
                <p>Розраховуйся онлайн за своє замовлення через сервіс LiqPay на
                    сайті</p>
            </div>
        </div>
        <div class="delivery__cash__block">
            <div class="delivery__cash__block__img"><img
                    src="../../../assets/cardPay.svg" alt=""> </div>
            <div class="delivery__cash__block__text">
                <h4>Оплата карткою</h4>
                <p>Наш кур'єр має з собою термінал та приймає карту для оплати</p>
            </div>
        </div>
        <div class="delivery__cash__block">
            <div class="delivery__cash__block__img"><img
                    src="../../../assets/moneyPay.svg" alt=""> </div>
            <div class="delivery__cash__block__text">
                <h4>Оплата готівкою</h4>
                <p>Сплачуй готівкою при отриманні замовлення, попередь якщо
                    потрібна решта</p>
            </div>
        </div>

    </div>
</section>
<section class="delivery">
    <div class="delivery__about">
        <h2>Доставка їжі з NOA: які страви ми пропонуємо?</h2>
        <p>Величезне меню з традиційними ролами, локшиною вок, десертами та
            напоями, які підкреслюють смак страв. Ми створюємо азійські страви
            зі свіжих та добірних компонентів. Наші кухарі дбають про правильне
            зберігання й ретельно обробку всіх складників. Саме тому, кожна
            страва з нашого меню — досконала. А гості НОА — завжди задоволені.</p>
        
        <ul>
            <p>В нашому ресторані ви можете замовити їжу на будь-який смак:</p>
            <li>Роли та суші-сети — як традиційні, так і авторські. З лососем,
                вугрем та іншими смачними складниками.</li>
            <li>Рамени — з яловичиною, курятиною, свининою, морепродуктами,
                гьодзе. Ситно та смачно.</li>
            <li>Poke-боули — з тунцем, лососем та іншими смачними інгредієнтами.</li>
        </ul>
        <br>
        <p>Кожного дня з 10 ранку та до 18:00 у нас можна посмакувати сніданками. Ви можете замовити сирники, хашбраун, омлети та тости. Починайте день смачно!</p>
        <p>Окрім цього, у нас є десерти, стартери, напої. Ви можете замовити доставку будь-яких страв для повноцінного обіду, вечері або зустрічі з друзями. Тому якщо любите смачно поїсти, не витрачаючи час біля плити — вам до нас!</p>
    </div>
</section>
<section class="delivery">
    <div class="delivery__about">
        <h2>Як працює наша доставка їжі у Львові?</h2>
        <p>Розповімо, як саме ми доставляємо наші страви. Для зручності, ділимо Львів на зони доставки – Зелену та Жовту. Найближчі населені пункти (Рясне Руське, Зимна Вода, Давидів тощо) відносимо до Червоної зони. Кожна зона має чітко визначений час приїзду кур’єра, а також суму мінімального замовлення та вартість доставки. Саме тому, ви можете легко перевірити, коли саме отримаєте ваші страви.</p>
        <p>Доставка в Зелену зону Львова – здійснюємо до 45 хвилин. Доставка в Жовту зону – до 59 хвилин, а в Червону — до 65 хвилин. Ми цінуємо ваш час, прагнемо привезти їжу ароматною та свіжою. Саме тому, кур’єри обирають оптимальні маршрути містом: вони знають, як об’їхати затори в годину пік.</p>
        <p>Окрім доставки, у нас працює послуга самовивозу. Якщо ви мешкаєте поруч, можете завітати до нас та забрати замовлення самостійно у найближчому ресторані НОА. Просто оберіть опцію самовивозу або повідомте, що хочете забрати страви самостійно, телефоном.</p>
    </div>
</section>
<section class="delivery">
    <div class="delivery__about">
        <h2>Як оплатити доставку їжі з NOA?</h2>
        <p>Діє безкоштовна доставка замовлень на суму 300 грн (Зелена та Жовта зони) й 350 грн у Червоній зоні. У вас є можливість оплатити своє замовлення можна зручними способами — на сайті через систему LiqPay, карткою або готівкою кур’єру. Просто вкажіть варіант, який вам підходить.</p>
        <p>NOA — це:</p>
     <ul>
        <li>Лише добірні компоненти. Дбаємо про якість кожного складника, щоб ви могли насолоджуватися справді смачною та корисною їжею, приходячи до нас.</li>
    <li>Величезний вибір страв на будь-який смак. Ми знаємо про азійську кухню все, та навіть більше. Вдосконалюємо традиційні рецепти та створюємо авторські новинки для вас.</li>
    <li>Швидка доставка. Ви отримаєте замовлення без затримок — це гарантують наші швидкі кур’єри. Робимо усе можливе для того, щоб ви могли смакувати улюбленими стравами без затримок.</li>
</ul>
    <br>
    <p>Ми працюємо щодня та без вихідних, у будні й у свята.</p>
    <p>Щоб замовити їжу у Львові, просто оберіть страви до смаку, додайте їх у кошик та дочекайтесь кур’єра. Також чекаємо на вас у нашому ресторані. Бажаємо смачного!</p>
    </div>
</section>