@import "app/shared/styles/base";
@import "app/shared/styles/variables";
@import "app/shared/styles/theme-material";
@import "app/shared/styles/media";
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}

body {
  background-color: rgb(240, 241, 241);
}
body::-webkit-scrollbar {
  width: 7px;
  @include respond(Small) {
    width: 2px;
  }
}
body::-webkit-scrollbar-track {
  background-color: $scroollBg;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $main;
}
body::-webkit-scrollbar-button {
  background-color: $main;
}
